.Search {
  display: flex;
  height: 100%;
}

.header {
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));  text-align: center;
  color: #fff;
  height: auto;
  padding: 12px 50px;
  line-height: 32px;
}

.header > span:first-of-type {
  margin-bottom: 6px;
}

.content {
  overflow-y: auto;
  text-align: center;
  min-height: 120px;
  line-height: 120px;
  color: #fff;
}

.footer {
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));}
