.Details {
  display: inline;
}

.header {
  text-align: center;
  color: #fff;
  height: auto;
  padding: 12px 50px;
  line-height: 32px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}

.content {
  margin-top: 56px;
  padding: 0 20px;
  overflow-y: auto;
  text-align: center;
  min-height: 120px;
  line-height: 120px;
  color: #fff;
}

.error {
  color: red;
  height: 100%;
  width: 100%;
  font-size: 24px;
}
